Source: python3-adns
Section: python
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Build-Depends: debhelper (>= 9),
               dh-python | debhelper,
               libadns1-dev,
               libfile-fcntllock-perl,
               libpython3-all-dev | python3-all-dev,
               python3-all,
               python3-minimal
Standards-Version: 4.2.1
X-Python3-Version: >= 3.2
Homepage: https://github.com/trolldbois/python3-adns
Vcs-Git: https://github.com/dreibh/python3-adns.git
Vcs-Browser: https://github.com/dreibh/python3-adns/

Package: python3-adns
Architecture: any
Depends: libadns1,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Python bindings to the asynchronous DNS resolver library
 This module provides a Python binding to the adns asynchronous DNS
 resolver library.
 .
 The module provides a small wrapper adns that simply returns status
 codes as does the C library. It also provides a more Python like
 interface ADNS that wraps status codes in proper exceptions.
 .
 The package contains working examples in ADNS.py and DNSBL.py.
